#grassbackground{
	-fx-background-image: url("grass.png");
	-fx-background-repeat: stretch;   
	-fx-background-size: 1800 1200;
	-fx-background-position: center center;
}

.label{
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
}

.button{
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
	-fx-font-size: 24;
}

.button:focused {
	-fx-border-color: transparent, black;
	-fx-border-width: 1, 1;
	-fx-border-style: solid, segments(1, 2);
	-fx-border-radius: 0, 0;
	-fx-border-insets: 1 1 1 1, 0;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 24;
}

.button:hover {
	-fx-background-color: #6a718d;
	-fx-text-fill: white;
}

.text-area .content {
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 24;
}

.slider {
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-font-size: 24;
}

.combo-box-base {
	-fx-border-color: #6a718d;
	-fx-border-width: 3;
	-fx-background-radius: 5;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
	-fx-font-size: 24;
}

.combo-box-base:hover {
	-fx-background-color: #6a718d;
	-fx-text-fill: white;
}

.radio-button {
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
	-fx-font-size: 24;
}

.radio-button .radio {
	-fx-border-width: 1px;
	-fx-border-color: #000;
	-fx-background-color: white;
	-fx-background-image: null;
	-fx-border-radius: 15px;
	-fx-padding: 4px;
}
.radio-button .radio:selected {
	-fx-background-color: white;
	-fx-background-image: null;
}
.radio-button -radio:armed {
	-fx-background-color: white;
	-fx-background-image: null;
}
.radio-button -radio:determinate {
	-fx-background-color: white;
	-fx-background-image: null;
}
.radio-button -radio:indeterminate {
	-fx-background-color: white;
	-fx-background-image: null;
}
.radio-button .dot {
	-fx-background-radius: 15px;
	-fx-padding: 8px;
}
.list-cell{
	-fx-font: 18pt "Arial";
}
