.label{
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
}

.button{
	-fx-border-color: transparent;
	-fx-border-width: 0;
	-fx-background-radius: 0;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
}

.button:focused {
	-fx-border-color: transparent, black;
	-fx-border-width: 1, 1;
	-fx-border-style: solid, segments(1, 2);
	-fx-border-radius: 0, 0;
	-fx-border-insets: 1 1 1 1, 0;
}

.button:hover {
	-fx-background-color: #6a718d;
	-fx-text-fill: white;
}

.combo-box-base {
	-fx-border-color: #6a718d;
	-fx-border-width: 3;
	-fx-background-radius: 5;
	-fx-background-color: transparent;
	-fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
	-fx-text-fill: #6a718d;
}

.combo-box-base:hover {
	-fx-background-color: #6a718d;
	-fx-text-fill: white;
}
